@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

#bloc-page {
    margin: 0px;
    font-family: 'Roboto', sans-serif;

    p, h3, h4 {
        margin: 5px;
        margin-left: 15px;
    }  
    footer p {
        margin: 5px;
    }

    a {
        text-decoration: none;
        color: black;
    }
    footer a {
        color: white;
    }

    
}

#bloc-pages {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    footer a {
        text-decoration: none;
        color: white;
    }
    footer p {
            margin: 5px;
    }
    
}



