@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

#bloc-page {
  margin: 20px;
  font-family: "Roboto", sans-serif;
}
#bloc-page p, #bloc-page h3, #bloc-page h4 {
  margin: 5px;
  margin-left: 15px;
}
#bloc-page footer p {
  margin: 5px;
}
#bloc-page a {
  text-decoration: none;
  color: black;
}
#bloc-page footer a {
  color: white;
}

#bloc-pages {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
#bloc-pages footer a {
  text-decoration: none;
  color: white;
}
#bloc-pages footer p {
  margin: 5px;
}

header {
  text-align: center;
  font-family: "Shrikhand", cursive;
  box-shadow: 0px 4px 1px -2px gray;
  padding: 5px;
  margin: 0px;
  position: relative;
}
header i::before {
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: "FontAwesome";
  font-size: larger;
}
header a {
  text-decoration: none;
  color: black;
}

.location {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  background-color: #f3f3f3;
  text-align: center;
  padding: 6px;
}
.location i {
  font-size: 20px;
}

.intro {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px;
}
.intro h2 {
  margin-top: 0px;
  font-size: 20px;
}
.intro p {
  font-size: 16px;
}
.intro button {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 16px;
  color: white;
  border: none;
  font-size: 16px;
  box-shadow: 4px 4px 10px -4px black;
}
.intro button:hover {
  transform: scale(1.01);
  opacity: 0.9;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 1;
  background-color: powderblue;
  opacity: 0.9;
  animation: load 1s 2s forwards;
}

.full-full {
  display: flex;
  align-items: center;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3;
  border-top-color: pink;
  border-bottom-color: purple;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes load {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.functionality {
  counter-reset: numbers;
}
.functionality .purple {
  color: #9356dc;
}
.functionality h2 {
  margin: 16px;
}
.functionality ol {
  display: flex;
  margin: 10px;
  gap: 20px;
  padding: 10px;
}
@media (max-width: 987px) {
  .functionality ol {
    flex-direction: column;
  }
}
.functionality li {
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 20px 5px;
  border: 1px solid #f3f3f3;
  flex-grow: 1;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 4px 4px 10px -4px black;
}
.functionality li::before {
  content: counter(numbers);
  counter-increment: numbers;
  color: white;
  background-color: #9356dc;
  padding: 5px;
  margin: -12px;
  border-radius: 50%;
  font-size: smaller;
}
.functionality li:hover {
  transform: scale(1.02);
}
.functionality li i .fa, .functionality li .fas {
  margin-right: 30px;
  margin-left: 20px;
}

.restau {
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 50px;
}
.restau h2 {
  margin-left: 16px;
}
.restau .menu_choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.restau .menu_choices .tag::before {
  content: "Nouveau";
  position: absolute;
  height: 20px;
  width: 90px;
  font-weight: bold;
  color: #4acbab;
  background-color: #99e2d0;
  padding: 6px;
  text-align: center;
  right: 10px;
  top: 10px;
}
.restau .menu_choices .resto {
  width: 310px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 4px 4px 10px -4px black;
  background-color: white;
  position: relative;
}
.restau .menu_choices .resto img {
  height: 200px;
  width: 309px;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}
.restau .menu_choices .resto .choice__details {
  position: relative;
}
.restau .menu_choices .resto .choice__details i {
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.restau .menu_choices .resto .choice__details .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.restau .menu_choices .resto .choice__details:hover .fas {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

footer {
  padding: 16px;
  background-color: #2b2a2a;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
footer h3 {
  font-weight: normal;
}
footer .proposal {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 0px;
}
footer .partner {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
footer a {
  text-decoration: none;
  color: white;
}

@keyframes delays {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.picture img {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center bottom;
}

.service {
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  position: relative;
  background-color: #f3f3f3;
}
.service h2 {
  margin: 0px;
  font-family: "Shrikhand", cursive;
  padding: 30px 16px;
  border-radius: 40px 40px 0px 0px;
  background-color: #f3f3f3;
}
.service h2 i {
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 30px;
}
.service h2 .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.service h2 .fas:hover {
  cursor: pointer;
  opacity: 1;
}

.cards {
  background-color: #f3f3f3;
  display: flex;
  gap: 20px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 987px) {
  .cards {
    flex-direction: column;
  }
}
.cards > * {
  flex-grow: 1;
}
.cards > * h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
}
.cards > * h3::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
  top: 22px;
  left: 0px;
}
.cards .menu__card {
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px -4px black;
  animation: delays 1s;
  animation-fill-mode: both;
}
.cards .menu__card:nth-child(3) {
  animation-delay: 300ms;
}
.cards .menu__card:nth-child(4) {
  animation-delay: 400ms;
}
.cards .menu__card:nth-child(5) {
  animation-delay: 500ms;
}
.cards .menu__card .division {
  margin-left: 15px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards .menu__card .division h4, .cards .menu__card .division p {
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -10px;
}
.cards .menu__card .menu-price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 500;
  padding: 10px;
}
.cards .menu__card .menu-tag {
  padding: 17px;
  background-color: #99e2d0;
  margin-right: -60px;
  width: 60px;
  border-radius: 0px 10px 10px 0px;
  transition: margin-right 0.4s;
}
.cards .menu__card .menu-tag i {
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: white;
  color: #99e2d0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.cards .menu__card:hover {
  cursor: pointer;
}
.cards .menu__card:hover .menu-tag {
  margin-right: 0px;
}
.cards .menu__card:hover i {
  animation: turner 0.4s ease-in-out;
}
@keyframes turner {
  0% {
    transform: rotate(-190deg);
  }
  100% {
    transform: rotate(0);
  }
}

.ordering {
  height: 25vh;
  text-align: center;
  background-color: #f3f3f3;
  padding: 40px;
}
.ordering button {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 16px;
  color: white;
  border: none;
  font-size: 16px;
  box-shadow: 4px 4px 10px -4px black;
}
.ordering button:hover {
  transform: scale(1.01);
  opacity: 0.9;
  cursor: pointer;
}

@keyframes delays {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
