@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    box-shadow: 0px 2px 2px 1px gray;
    padding: 5px;
    margin: 0px;
    position: relative;
}

/* location */

main .location {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 6px;
}

main .location i {
    font-size: 20px;
}

/* intro */

.intro {
    text-align: center;
}

.intro h2 {
    margin-top: 20px;
    font-size: 20px;
}

.intro p {
    font-size: 16px;
}

.intro button {
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    padding: 16px;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 2px 1px 16px -2px black ;
}

p {
    color: red;
}