@mixin turner {
    @keyframes turner {
        0% {
        transform: rotate(-190deg);
        }
        100% {
        transform: rotate(0);
        }
    }
}

@keyframes delays {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}