@import "../utils/shadow.scss";
@import "../utils/mixins.scss";

.intro {
    text-align: center;
    & h2 {
        margin-top: 20px;
        font-size: 20px;
    }
    & p {
        font-size: 16px;
    }
    & button {
       @include button;
        
    }

    & button:hover {
        @include button-hover;
    }
}