.location {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 6px;

    & i {
        font-size: 20px;
    }
}
