@import "../utils/colors.scss";


.restau {
    h2 {
        margin-left: 16px;
    }
    background-color: #f6f6f6;
    margin-top: 50px;
    padding: 50px;
    & .menu_choices {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        .tag::before {
            content: "Nouveau";
            position: absolute;
            height: 20px;
            width: 90px;
            font-weight: bold;
            color: darken($color: $final-color, $amount: 20%);
            background-color: $final-color;
            padding: 6px;
            text-align: center;
            right: 10px;
            top: 10px;
        }
        & .resto {
            width: 310px;
            border: 1px solid #f3f3f3;
            border-radius: 5px;
            @include shadow;
            background-color: white;
            position: relative;
            & img {
                height: 200px;
                width: 309px;
                background-color: white;
                border-radius: 5px 5px 0px 0px;
            }
            .choice__details {
                position: relative;
                & i {
                    font-size: 25px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                & .fas {
                    color: transparent;
                    background-image: linear-gradient(#ff79da, #9356dc);
                    background-clip: text;
                    -webkit-background-clip: text;
                    opacity: 0;
                    transition: all 1s ease-in-out;
                }
                &:hover .fas{
                    cursor: pointer;
                    opacity: 1;
                    transform: scale(1.2);
                }
            }
        }
    } 
}